<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    <h2><b>Baking Contest User Information</b></h2><br>
    <form action="/addrec", method="post">
        <label>Name</label><br>
        <input type="text" id="Name" Name="Name"><br>

        <label>Age</label><br>
        <input type="text" id="Age" Name="Age"><br>

        <label>Phone Number</label><br>
        <input type="text" id="PhoneNumber" Name="PhoneNumber"><br>

        <label>Security Level</label><br>
        <input type="text" id="SecurityLevel" Name="SecurityLevel"><br>

        <label>Login Password</label><br>
        <input type="text" id="Password" Name="Password"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>