<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    <h2><b>Baking Contest Entry Information</b></h2><br>
    <form action="/addrec", method="post">
        <label>Name of Baking Item</label><br>
        <input type="text" id="Name" Name="Name"><br>

        <label>Number of Excellent Votes</label><br>
        <input type="text" id="ExcellentVotes" Name="ExcellentVotes"><br>

        <label>Number of Ok Votes</label><br>
        <input type="text" id="OkVotes" Name="OkVotes"><br>

        <label>Number of Bad Votes</label><br>
        <input type="text" id="BadVotes" Name="BadVotes"><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>