<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    {% if Security_Level == 3 %}
        <h2><b>Baking Contest User Information</b></h2><br>
        <form action="/addrec" method="post">
            <label>Name</label><br>
            <input type="text" id="Name" name="Name"><br>

            <label>Age</label><br>
            <input type="text" id="Age" name="Age"><br>

            <label>Phone Number</label><br>
            <input type="text" id="PhoneNumber" name="PhoneNumber"><br>

            <label>Security Level</label><br>
            <input type="text" id="SecurityLevel" name="SecurityLevel"><br>

            <label>Login Password</label><br>
            <input type="text" id="Password" name="Password"><br>
            <input type="submit" value="Submit">
    {% endif %}
    {% if Security_Level != 3 %}
        <h1>Not Found</h1>
        <p>the requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
    {% endif %}

        </form>




</body>
</html>
