<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

    <h1>Welcome {{ name }}</h1>
        {% if Security_Level == 1 %}
        <a href="myContestResults">Show my Contest Entry Results</a><br>
        <a href="enternewentry">Add new Baking Contest Entry</a><br>
    {% endif %}

    {% if Security_Level == 2 %}
        <a href="myContestResults">Show my Contest Entry Results</a><br>
        <a href="enternewentry">Add new Baking Contest Entry</a><br>
        <a href="contestUsers">List Baking Contest Users</a><br><br>
    {% endif %}

    {%  if Security_Level == 3 %}
        <a href="myContestResults">Show my Contest Entry Results</a><br>
        <a href="enternew">Add new Baking Contest User</a><br>
        <a href="enternewentry">Add new Baking Contest Entry</a><br>
        <a href="contestUsers">List Baking Contest Users</a><br>
        <a href="contestResults">Baking Contest Entry Results</a><br><br>
    {% endif %}


    <a href="logout">Log out</a>
</body>
</html>